@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@font-face {
	font-family:NanumSquareB;
	src:url(../fonts/NanumSquareB.eot);
	src:local(※),url(../fonts/NanumSquareB.woff) format('woff');
}
@font-face {
	font-family:NanumSquareR;
	src:url(../fonts/NanumSquareR.eot);
	src:local(※),url(../fonts/NanumSquareR.woff) format('woff');
}
* {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;}
*{margin:0;padding:0;}
*:focus{outline:none;}
html,body{height:100%;}
html{overflow-y:scroll;font-size:100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body{font:14px/1.5 "나눔고딕",Nanum Gothic,"돋움",Dotum,sans-serif;color:#333;width:100%;height:100%;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;}
button,input,select,textarea{font-family:"나눔고딕",Nanum Gothic,"돋움"Dotum,sans-serif;vertical-align:middle;outline:none;}
input[type="text"], input[type="password"]{padding:0 3%;box-sizing:border-box;}
button{overflow:visible;border:none;cursor:pointer;}
li{list-style:none;}
img{border:none;outline:none;vertical-align:middle;}
a{text-decoration:none;color:inherit;}
h1,h2,h3,h4,h5,h6{font-style:100%;}
caption,legend,figure,figurecaption{display:none;}
table{width:100%;margin:0;padding:0;border-collapse:collapse;border-spacing:0;}
fieldset{border:none;}
i,em,address,dfn{font-style:normal;}
iframe{vertical-align:top;}

#skip a, .skip a{overflow:hidden;position:absolute;left:-9999px;top:0;width:0;height:0;font-size:0;line-height:0;}

@media screen and (max-width:768px) {
	body,button,.tbl_write_m, table th, table td{font-size:13px;}
}
@media screen and (max-width:480px) {
	body,button,.tbl_write_m, table th, table td{font-size:12px;}
}